@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #000;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.word {
  text-align: center;
  color: white;
  font: 400 normal 1em 'Montserrat';
  line-height: 25px;
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 20px;
  }
  .word {
    font: 400 normal 0.7em 'Montserrat';
    line-height: 20px;
  }
}